<div id="content" class="bg-grey">
  <!-- Hero section (full height) -->
  <section class="min-h-screen flex flex-col justify-between w-full">
    <!-- Main content -->
    <div class="flex-1 flex flex-col items-center justify-center text-center">
      <div class="flex items-center justify-center mb-4">
        <img src="/static/icon.svg" alt="Icon" class="h-24 mr-4">
        <h1 class="uk-hero-lg font-black">muze.</h1>
      </div>
      <p class="uk-text-xl">*your everyday collaborator</p>
    </div>
</div>
